<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar novo aluno</title>
</head>
<body>

    <form method="post" action="/add_aluno">
        <label>RA</label>
        <input type="text" name="txtRA">

        <label>Nome</label>
        <input type="text" name="txtNome">

        <label>idade</label>
        <input type="text" name="txtIdade">

        <label>E-mail</label>
        <input type="text" name="txtEmail">

        <button type="submit">Cadastrar Aluno</button>

    </form>


    
</body>
</html>